{{define "modules/hero.tmpl.html"}}
<div class="w3-container w3-section w3-padding-bottom w3-card-4 w3-light-grey modules pings">
    <a href="/hero">
        <div class="w3-container w3-padding-large">
            <h1 class="w3-jumbo">Hero</h1>
            <p class="w3-medium">This module just describes a simple api running at goplay-api.bluefoxcode.com</p>
            <h2>Features:</h2>
            <ul class="w3-leftbar w3-border-teal features">
                <li class='w3-margin'><i class="fa fa-hand-o-right"></i>REST api for updating/viewing items.</li>
                <li class='w3-margin'><i class="fa fa-hand-o-right"></i>MVC style design for code base.</li>
                <li class='w3-margin'><i class="fa fa-hand-o-right"></i>Uses postgresql db, good separation of responsibilities, </li>
            </ul>
        </div>
    </a>
</div>
{{end}}