.w3-theme {color:#fff !important;background-color:#4CAF50 !important}
.w3-btn {background-color:#4CAF50;margin-bottom:4px}
.myMenu {margin-bottom:150px}

.top-logo{margin:4px 0 6px 0}
.top-logo img{height:50px;}
