<div class="w3-top">
    <div class="w3-row w3-teal w3-padding">
        <div class="w3-half top-logo w3-hide-small" >
            <a href='/'><img src='/static/img/bfc-logo-b.png' alt='goplay.bluefoxcode.com'></a>
        </div>
        <div class="w3-half w3-margin-top w3-wide">
            <div class="w3-right">GOPLAY with BlueFoxCode</div>
        </div>
    </div>
    <ul class="w3-navbar w3-large" style="z-index:4;">
        <li class="w3-opennav w3-left w3-hide-large">
            <a class="w3-hover-white w3-large w3-padding-16" href="javascript:void(0)" onclick="w3_open()">☰</a>
        </li>
    </ul>
</div>
