<div class="w3-container w3-section w3-padding-bottom w3-card-4 w3-light-grey">
    <a href="/">
        <div class="w3-container w3-padding-large">
            <h1 class="w3-jumbo">Main App</h1>
            <p class="w3-medium">This is the main application for showing my goplay demos.</p>
            <h2>Features:</h2>
            <ul class="w3-leftbar w3-border-teal features">
                <li><i class="fa fa-hand-o-right"></i> gin-gonic/gin for routing and templating.</li>
                <li><i class="fa fa-hand-o-right"></i> kardianos/govendor for package management.</li>
            </ul>
        </div>
    </a>
</div>
