{{define "modules/main-app.tmpl.html"}}
<div class="w3-container w3-section w3-padding-bottom w3-card-4 w3-light-grey modules main-app">
    <a href="/">
        <div class="w3-container w3-padding-large">
            <h1 class="w3-jumbo">Main App</h1>
            <p class="w3-medium">This is the main application for showing my goplay demos.  You can also view this via github at <a href="//github.com/bluefoxcode/goplay" target="_blank"><strong>github.com/bluefoxcode/goplay</strong></a></p>
            <h2>Features:</h2>
            <ul class="w3-leftbar w3-border-teal features">
                <li class='w3-margin'><i class="fa fa-hand-o-right"></i> <strong>gin-gonic/gin</strong> for routing and templating.</li>
                <li class='w3-margin'><i class="fa fa-hand-o-right"></i> <strong>kardianos/govendor</strong> for package management.</li>
            </ul>
        </div>
    </a>
</div>
{{end}}
